/* Wrapper size */
$website-width: 1020px;

/* Font family */
$font-family: 'Acme', Arial, Helvetica, sans-serif;

/* colors */
$theme-color: #fff;
$header-color: #7b1fa2;
$project-link-color: #42a5f5;

/* Fonts sizes */
$portfolio-header-size: 4rem;
$project-header-size: 2.2rem;
$project-desc-size: 1.8rem;

$project-modal-title-size: 4rem;


$info-item-size: 1.6rem;



// about me
$about-header-color: #222222;
$about-react-color: #61DAFB;
$about-ts-color: #007ACC;
$about-redux-color: #764ABC;
$about-js-color: #FFCA28;