.come_back {
	position: absolute;
	top: 1rem;
	right: 1rem;

	font-size: 1.4rem;
	
	padding: .5rem 1rem;
	cursor: pointer;
	border: .5rem solid $theme-border-color;
	text-shadow: 1px 1px 2px rgba(255,255,255,.9);
	
	transition: .2s ease-in-out;
	color: $theme-color;
	background-color: $text-color;

	&:hover {
		color: $project-page-links;
		background-color: lighten($text-color, 30%);
		box-shadow: 1px 1px 5px 2px rgba(0,0,0,.3);
	}
}

