// Basic settings
@import '@scss-utils/vars';
@import '@scss-utils//mixins';


.home-page {
	display: flex;
	flex-flow: row;
	width: 100%;
}

.projects {
	width: 75%;

	@include breakpoint($lg-bp) {
		width: 70%;
	}

	@include breakpoint($md-bp) {
		width: 100%;
	}
}

.sidebar {
	width: 25%;

	@include breakpoint($lg-bp) {
		width: 30%;
	}

	@include breakpoint($md-bp) {
		width: 100%;
	}
}