.project {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding-bottom: 2rem;

	// top page part
	&__about {
		display: flex;
		align-items: center;
	}

	// bottom page part
	&__info{
		margin: 3rem -3.1rem 0 -3rem;
		padding: 4rem 2rem 0;
		border-top: 1.5rem solid $theme-border-color;
	}

	&__img {
		overflow: hidden;
		min-width: $project-img-w-lg;
		height: $project-img-h-lg;
		padding: 0.5rem;
	}
	
	&__img img {
		outline: .5rem solid $text-color;
		cursor: zoom-in;
		width: 100%;
		height: 100%;
		position: relative;
		display: block;
	}

	&__desc {
		width: 100%;
		padding: 2rem 0 2rem 3rem;
	}

	@include breakpoint($lg-bp) {
		padding-bottom: 0;

		&__about {
			flex-flow: column-reverse;
		}

		&__desc {
			padding: 0 0 2rem 0;
		}

		&__img {
			min-width: $project-img-w-md;
			height: $project-img-h-md;
		}

		&__info {
			margin-top: 2rem;
			padding-top: 1rem;
			margin-bottom: -1rem;
		}
	}
	
	@include breakpoint($md-bp) {
		&__info {
			padding: 1.8rem 2.8rem 0;
			margin-bottom: -.1rem;
		}
	}
	
	@include breakpoint($sm-bp) {
		&__info {
			padding: 1rem 1.2rem 0;
			margin: 1rem -1.2rem -.1rem -1.2rem;
		}
	}
}

// === top page part
.description {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	& * {
		max-width: 100%;
	}

	&__header {
		font-size: $header-lg-size;
		text-transform: uppercase;
	}

	&__links {
		display: flex;
		flex-flow: column;
		text-align: center;
		font-size: $desclink-lg-size;
	}
	
	&__link {
		display: inline-block;
		margin: 1rem;
		letter-spacing: 1px;
		@include project-page-links-hover($project-page-links);
	}

	&__summary {
		padding: 1rem;
		width: 100%;
		font-size: 1.8rem;
		text-align: center;
		border: .5rem solid $text-color;
	}

	@include breakpoint($lg-bp) {
		&__header {
			font-size: $header-md-size;
		}
	}

	@include breakpoint($md-bp) {
		&__header {
			font-size: $header-sm-size;
		}
		
		&__links {
			font-size: $desclink-sm-size;
		}
	}
	
	@include breakpoint($sm-bp) {
		&__header {
			font-size: $header-sm-size;
		}
	}
	
	@include breakpoint($xs-bp) {
		&__header {
			width: 100%;
			padding-right: 50px;
			padding-left: 50px;
		}
	}
}

.techs-list {
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
	padding: 1rem 2rem;
	margin-top: 1rem;

	&__item {
		@include tech-desc-tags();
	}
}

// === bottom page part
.info-list {
	display: flex;
	flex-flow: wrap;
	justify-content: center;

	&__item {
		width: 45%;
		text-align: center;
		padding: 2rem 1.5rem;
		border: .5rem solid $text-color;
		margin: 1rem;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	&__header {
		font-size: 2rem;
		padding-bottom: 1rem;
		@include text-hide();
	}

	&__links {
		width: 100%;
		display: flex;
		flex-flow: wrap;
		justify-content: center;
	}

	&__links div {
		min-width: 50%;
		padding: 0.5rem;
	}

	&__links a {
		font-size: 1.7rem;
		@include project-page-links-hover(darkblue);
	}

	&__desc{
		margin-top: 1rem;
	
		& li {
			font-size: 1.5rem;
			color: #37474f ;
			text-shadow: 0px 0px 1px rgba(0,0,0,.3);
		}
	}

	@include breakpoint($lg-bp) {
		&__item {
			width: 45%;
			padding: 1rem;
		}
	}

	@include breakpoint($md-bp) {
		&__item {
			width: 100%;
			margin: 0;
		}

		&__item:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	@include breakpoint($sm-bp) {
		&__item:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	@include breakpoint($xs-bp) {
		&__item {
			width: 100%;
			padding: 1rem;
			margin: 0;
		}

		&__item:not(:last-child) {
			margin-bottom: 1rem;
		}

		&__links div {
			min-width: 100%;
			padding: 0;
		}

		&__links div:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

}

