html {
	font-size: 62.5%;
}

body {
	font-family: $font-family;
	font-size: 1.4rem;
	line-height: 1.4;
	color: $text-color;
	background-color: $theme-color;
}

* {
	box-sizing: border-box;
	word-break: break-word;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('@images/bg/brick-wall-dark.png');
	background-color: #1e7ca8;
	background-repeat: repeat;
	
	&--admin-page {
		background-image: url('@images/bg/black-orchid.png');
		background-color: darkolivegreen;
	}

	&--error-page {
		background-image: url('@images/bg/bright-squares.png');
		background-color: #7e57c2 ;
	}

	@include breakpoint($md-bp) {
		padding: 1rem;
	}

	@include breakpoint($sm-bp) {
		padding: 0;
		background-image: none;
	}
}

.container {
	position: relative;
	width: $website-lg-width;
	min-height: calc(100vh - 6rem);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	overflow: hidden;
	border: 1.5rem solid $theme-border-color ;
	padding: 3rem;
	background-image: url('@images/bg/concrete_wall_2.png');
	background-repeat: repeat;

	@include breakpoint($lg-bp) {
		width: $website-md-width;
		padding: 2rem;
	}

	@include breakpoint($md-bp) {
		width: $website-sm-width;
		flex-flow: column;
	}

	@include breakpoint($sm-bp) {
		padding: 1rem;
		min-height: 100vh;
	}
}