.projects {
	padding: 1rem 1rem 1rem 4rem;

	&__header {
		text-align: center;
		margin-bottom: 2rem;
		position: relative;
		font-size: 4rem;
	}

	&__list {
		display: flex;
		flex-flow: wrap;
		justify-content: space-around;
		padding: 1.5rem 0 2rem;
	}

	&__notfoud {
		text-align: center;
		font-size: 3rem;
		margin-top: 4rem;
		color:  $page-notfoud-color;
		text-shadow: 2px 1px 2px rgba(0,0,0,.3);
	}
}

.project_card {
	width: $project-card-w-xl;
	height: $project-card-h-xl;
	margin: 1rem;
	text-align: center;
	position: relative;

	border-radius: 2rem;
	border: 2px solid $text-color;

	
	&::before {
		transition: $project-card;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		border: 2px solid $text-color;
		border-radius: 2rem;
		top: -2px;
		left: -2px;
		opacity: 0;
		
		z-index: 2;
		background: radial-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7));
	}

	&:hover::before {
		opacity: 1;
	}
	
	&__img {
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		overflow: hidden;
		
		& img {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1;
		}
	}
	
	&__wrapper {
		width: 100%;
		height: 100%;
		border-radius: 1rem;
		padding: 2rem;
		margin-bottom: 0;
		display: flex;
		flex-flow: column;
		justify-content: center;
		overflow: hidden;
		color: $project-page-links;
		text-shadow: 0px 0px 3px white;
		
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;


		z-index: 3;
		transition: $project-card;
		opacity: 0;
	}

	&__title {
		font-size: 2.5rem;
		line-height: 1.5;
		padding-bottom: 2rem;
		@include text-hide();
	}

	&__desc {
		font-size: 1.8rem;
		width: 100%;
		overflow: hidden;
	}

	&:hover &__wrapper {
		opacity: 1;
	}

}



