@import '../../utils/vars';

.info {
	padding: 2rem 0;


	&__wrapper {
		display: flex;
		flex-flow: row-reverse nowrap;
		justify-content: flex-start;
		padding: 3rem;

		box-shadow: inset 0 0 10px rgba(0,0,0,.3);
		border-radius: 20px;
	}

	&__img {
		min-width: 20rem;
		width: 20rem;
		height: 20rem;
		border: 5px solid #eee;
		border-radius: 15px;
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__desc {
		width: 100%;
		margin-right: 2rem;
		box-shadow: inset 0 0 10px rgba(0,0,0,.2);
	}

	&__name {
		border-bottom: 3px solid #eee;
		padding: 1rem 2rem;
		text-align: center;
	}
}

.private {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 2rem;


	&__item {
		padding: 0.5rem 1rem;
		margin: .5rem;
		background-color: #fff;
		font-size: $info-item-size;
		box-shadow: inset 0 0 10px rgba(0,0,0,.2);

		span {
			margin-right: 1rem;
		}
	}

	&__link {
		text-decoration: underline;
		transition: color .2s linear;
	}

	&__link:hover {
		color: $project-link-color;
		text-decoration: none;
	}
}













//////////////////////////////// about me
// ********* basic ********* \\
.container {
	width: 990px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	margin-bottom: 5rem;
}

.about, .header {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
}
// ********* /.basic ********* \\


// ********* header ********* \\
.header {
	width: 100%;
	min-height: 30rem;
	background-image: radial-gradient($about-js-color 1%, #000);
	background-size: cover;
	background-position: center;
	position: relative;

	&__left {
		flex: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

	&__img {
		border-radius: 50%;
		width: 225px;
		height: 225px;
		overflow: hidden;
		box-shadow: 1px 1px 5px rgba(0,0,0,.3);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: -20px;
		}
	}

	&__right {
		flex: 60%;
		display: flex;
		justify-content: center;
		flex-flow: column;
		color: #fff;
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 1px 1px rgba(0,0,0,.9);
	}
	
	&__title {
		font-size: 5rem;
	}

	&__subtitle {
		font-size: 2.5rem;
	}

	&__icon {
		display: inline-block;
		width: 25px;
		height: 25px;
		position: relative;
		top: 4px;
		margin: 0 1rem 0 .5rem;

		background-image: url('../../../images/about/header-icons/js.png');
		background-color: #000;
		box-shadow: 1px 1px 5px rgba(255,255,255,.5);
		background-size: 35px;
		background-position: 50%;
	}

	&__icons {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	// * common header * //
	&__left, &__right {
		min-height: 30rem;
	}
	// * /.common header * //
}

// * header icons * //
.icons {
	padding-right: 1.5rem;
	display: flex;
	flex-flow: row nowrap;

	li {
		position: relative;

		&:not(:last-child) {
			margin-right: 1rem;
		}
	}

	&__react {
		width: 70px;
		height: 60px;
		background-image: url('../../../images/about/header-icons/react.png');
		background-size: 85px 60px;
		top: -5px;
	}

	&__ts {
		width: 40px;
		height: 40px;
		background-image: url('../../../images/about/header-icons/ts.png');
		background-size: 40px;
		top: 5px;
	}

	&__redux {
		background-image: url('../../../images/about/header-icons/redux.svg');
	}
	
	&__webpack {
		background-image: url('../../../images/about/header-icons/webpack.svg');
	}
	
	&__sass {
		background-image: url('../../../images/about/header-icons/sass.svg');
		top: 5px;
	}
	
	&__redux, &__webpack, &__sass {
		width: 50px;
		height: 50px;
		background-size: 50px;
	}
}
// * ./header icons * //
// ********* ./header ********* \\



// ********* main section ********* \\
.about {
	&__left {
		width: 40%;
		background: #fff;
	}
	
	&__right {
		width: 60%;
		background: #efefef;
	}

	// * common about * //
	&__left, &__right {
		padding: 3rem;
	}

	&__item {
		font-size: 1.7rem;

		&:not(:last-child) {
			margin-bottom: 5rem;
		}
	}
	// * /.common about * //
}


// *=== blocks ===* //

// * summary * //

.summary {
	p:not(:last-child) {
		margin-bottom: 1rem;
		text-indent: 2rem;
	}
}

// * ./summary * //


// * skills * //
.skills {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	&__item {
		background-color: $about-js-color;
		border-radius: 10px;
		padding: .5rem 1rem;
		margin: 1rem;
		box-shadow: 0 0 6px rgba(0,0,0,.4), inset 0 0 rgba(0,0,0,.2);
		cursor: pointer;
		transition: .2s ease-in-out;
		
		&:hover {
			color: $about-ts-color;
			box-shadow: 0 0 2px rgba(0,0,0,.2), inset 0 0 6px rgba(0,0,0,.6);
			text-shadow: 1px 1px rgba(255,255,255,.4);
		}
	}

}
// * ./skills * //

// * contact * //
.contact {
	display: flex;
	flex-flow: column;

	&__item a {
		text-decoration: underline;
		transition: color .2s ease-in-out;

		&:hover{
			text-decoration: none;
			color: $about-react-color;
		}
	}


	.icon {
		position: relative;
		top: 5px;
		width: 22px;
		height: 22px;
		display: inline-block;
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: .5rem;
		
		&-linkedin {
			background-image: url('../../../images/about/contac-icons/linkedin-brands.svg');
		}

		&-phone {
			background-image: url("../../../images/about/contac-icons/phone-square-solid.svg");
		}

		&-github {
			background-image: url('../../../images/about/contac-icons/github-square-brands.svg');
		}

		&-website {
			background-image: url('../../../images/about/contac-icons/web-site.png');
		}

		&-email {
			background-image: url('../../../images/about/contac-icons/envelope-square-solid.svg');
		}
	}
	
}
// * ./contact * //


// * desc * //
.work {
	display: flex;
	flex-flow: row nowrap;

	&:not(:last-child) {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $about-react-color;
	}

	// * left desc side * //
	&__left {
		width: 30%;
		display: flex;
		flex-flow: column;
	}

	&__date {
		color: $about-ts-color;
		text-shadow: 1px 1px 4px rgba($about-react-color,.4);
	}

	&__company {
		text-shadow: 1px 1px 2px rgba(0,0,0,.4);
		letter-spacing: 1px;
		position: relative;

		a {
			text-decoration: underline;
			transition: color .2s ease-in-out;

			&:hover {
				text-decoration: none;
				color: $about-ts-color;

				~ span {
					opacity: 1;
				}
			}
		}
	}

	&__titletip {
		font-size: 1.5rem;
		background-color: #fff;
		padding: 1rem;
		border-radius: 5px;
		display: block;
		border: 1px solid $about-ts-color;
		color: $about-redux-color;
		text-align: center;
		opacity: 0;

		position: absolute;
		top: 30px;
		left: -15px;

		transition: opacity .2s ease-in-out;
	}
	// * ./left desc side * //

	// * right desc side * //
	&__right {
		width: 70%;
		padding-left: 2rem;
	}

	&__position {
		font-size: 2rem;
		letter-spacing: 2px;
		text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	}

	&__list {
		list-style: none;

		&-item {
			position: relative;
			margin-left: 2rem;
		}

		&-item::before {
			content: '';
			display: inline-block;
			background: $about-ts-color;
			width: 8px;
			height: 8px;
			border-radius: 50%;

			position: absolute;
			top: 7.5px;
			left: -18px;
		}
	}

	// * ./right desc side * //
	
	// * common desc * //
	&__date, &__position {
		margin-bottom: 1rem;
		line-height: 2;
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__company, &__position {
		text-transform: uppercase;
	}

	&__languages {
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		margin: .8rem 0;

		&-item:not(:last-child) {
			margin-right: 2rem;
		}

		span {
			text-transform: uppercase;
			margin-left: .5rem;
			color: $about-ts-color;
			text-shadow: 0 0 5px rgba($about-ts-color, .3);
		}
	}
	// * ./common desc * //
}
// * ./desc * //

// *=== ./blocks ===* //
// ********* ./main section ********* \\

.hover {
	text-decoration: underline;
	transition: color .2s ease-in-out;

	&:hover{
		text-decoration: none;
		color: $about-react-color;
	}
}


// ********* commont section ********* \\
// ======= for all main titles 
.main-title {
	letter-spacing: 3px;
	font-size: 2.5rem;
	color: #7C8587;
	text-shadow: -1px 1px 2px $about-redux-color;
	text-transform: uppercase;
	border-bottom: 4px solid $about-react-color;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}
// ********* ./commont section ********* \\