@import '../../utils/vars';

.portfolio {
	padding: 2rem 0;
	display: flex;
	align-items: center;

	&__wrapper {
		padding: 2rem 1rem 2rem;
		box-shadow: inset 0 0 10px rgba(0,0,0,.2);
		border-radius: 20px;
	}

	&__title {
		font-size: $portfolio-header-size;
		text-align: center;
		text-shadow: 2px 2px rgba(0,0,0,.2);
		padding: 1rem 0 2rem;
	}

	&__row {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-content: space-between;
	}

	&__column {
		flex: 0 0 33.3336%;
		padding: 1rem;
		background: transparent;
		border-radius: 20px;

		transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
		
		&:hover {
			transform: translate(0, -6px);
			box-shadow: 0 0px 30px rgba(0,0,0,.2);
		}
	}
}

.example {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;

	&__img {
		width: 100%;
		max-height: 166px;
		height: auto;
		cursor: pointer;
		display: block;
		border-radius: 1rem;
		overflow: hidden;
		box-shadow: 0 0 3px rgba(0,0,0,.5);
		transition: box-shadow .2s ease-in-out;
		position: relative;
		
		img {
			width: 100%;
			height: 100%;
		}

		&:hover {
			box-shadow: 0 0 10px 5px rgba($project-link-color,.8);
		}
	}

	&__title {
		font-size: $project-header-size;
		margin: 1rem 0;
		width: 100%;
		text-shadow: 1px 1px rgba(0,0,0,.1);
	}

	&__details {
		display: flex;
		width: 100%;
		flex-flow: column;
		justify-content: space-between;
		font-size: $project-desc-size;

		> *:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__desc {
		font-family: $font-family;
	}

	&__desc, &__link {
		transition: color .2s linear;
		text-decoration: underline;
	}

	&__desc:hover, &__link:hover {
		color: $project-link-color;
		text-decoration: none;
	}

	&__inprogress {
		&::after {
			content: 'In progress...';
			display: flex;
			justify-content: center;
			// align-items: baseline;

			width: 100%;
			height: 100%;
			font-size: 2.2rem;
			color: #fff;
			text-shadow: 3px 2px 1px #000;
			padding-top: 12rem;

			letter-spacing: 1.5px;
			word-spacing: 4px;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(darkblue, .3);
			transition: opacity .2s linear;
		}
		
		&:hover::after {
			opacity: 0;
		}
	}

}