// Basic settings
@import '@scss-utils/vars';
@import '@scss-utils/mixins';
@import '@scss-utils/dev_mixins';

.admin-page {
	display: block;
	width: 100%;

	&__header {
		font-size: $header-lg-size;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		flex-flow: column;
		gap: 2rem;
	}

	&__item {
		outline: 1px solid $theme-border-color;
		padding: 1rem;

		&__title {
			font-size: $item-title-size-lg;
			text-transform: uppercase;
		}

		&__table {
			width: 100%;
			margin: 2rem auto;
			outline: 2px solid black;

			thead, tbody {
				width: 100%;
			}
			
			th {
				background-color: #fff;
				font-size: 1.8rem;
				font-weight: 700;
			}
			
			td {
				padding: 0.5rem;
				font-size: 1.6rem;
				line-height: 3.5rem;

				span:not(:last-child) {
					margin-right: 1rem;
				}

				.buttons {
					position: relative;
					top: 0.6rem;
				}
			}
			
			th, td {
				outline: 1px solid black;
				text-align: center;
			}
		}


		&__list {

			li {
				a {
					font-size: $item-list-size-lg;
					text-decoration: none;
					color: $text-color;

					&:hover {
						color: $project-page-links;
					}
				}

				&::before {
					content: '—';
					margin: 0 1rem 0 1rem;
				}
			}
		}

		&__button {
			display: block;
			color: $text-color;
			border: 3px solid $text-color;
			padding: 1rem 1.3rem;
			margin: 1rem auto 0;
			text-align: center;
			text-decoration: none;

			@include text-truncation();

			&:hover {
				color: $theme-color;
				background-color: $text-color;
			}
		}

		&__add-new {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: flex-start;
			gap: 1.5rem;

			> label {
				font-size: 1.8rem;
			}

			> input {
				font-size: 1.6rem;
				padding: 0.3rem 0.5rem;
			}
		}
	}

}