// Basic settings
@import '@scss-utils/vars';
@import '@scss-utils/mixins';
@import '@scss-utils/dev_mixins';


.edit-project__info {
	&__title {
		font-size: 2rem;
		text-align: center;
	}

	&__list {
		width: 100%;
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		margin-top: 1rem;
	}

	&__add {
		margin: 2rem auto;
	}
}