// Bsic settings
@import '@scss-utils/vars';
@import '@scss-utils/mixins';
@import '@scss-utils/dev_mixins';


.desc-list {
	&__item {
		margin-bottom: 1rem;
		display: flex;
		gap: 1.5rem;
		align-items: flex-end;

		&__link, &__title {
			width: 100%;
		}

		label {
			margin-bottom: .4rem;
			display: flex;
			flex-flow: row;
			align-items: center;
		}

		input {
			padding: 0.4rem 0.6rem;
			width: 100%;
		}

		label, input {
			font-size: 1.6rem;
		}
	}
}